* {
  /* background-image: linear-gradient(rgb(192, 192, 192, 0.4), rgb(46, 175, 100, 0.4)); */
  

}

h1 {
  background-image: linear-gradient(rgb(173, 173, 173), rgb(59, 156, 189));
  border: transparent;
  border-radius: 5px;
}

h2 {
  color: red;
  border: rgb(187, 176, 176, 0.3);
  background-color: rgb(187, 176, 176, 0.9);
}

team {
  background-image: linear-gradient(silver, rgb(29, 79, 95)), radial-gradient(circle at top left, grey,navy);
}
#jacob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#jacob > article {
  background-color: rgb(187, 176, 176, 0.9);
}

#ryan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ronald {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#josh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  color: red;
  grid-area: auto;
}

nav {
  background-image: linear-gradient(silver, rgb(29, 79, 95)), radial-gradient(circle at top left, grey,navy);
}

button{
  background-image: linear-gradient(rgb(29, 79, 95), silver);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: crosshair;
  transition: border-color 0.25s;
}
button:hover {
  border-color: silver;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
    position: center;
    /* top: auto ; */
    width: 100%;
    /* height: 16vh; */
    margin: -0.4rem;
    background: darkgray;
    border: solid transparent .4rem;
    
    border-image: linear-gradient(0.15turn, silver 30%, black 60%);
    border-image-slice: 1;
    border-radius: 1vh;
    background-image: linear-gradient(silver, rgb(29, 79, 95)), radial-gradient(circle at top left, grey,navy);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "about title title title nav"
    "about title title title nav"
    "about p1 vs p2 nav" ;
    text-align: center;

}

body {
  background-image: url(assets/images/Flag_of_the_United_States_Space_Force.png);
  background-position-y: center;
    background-position-x: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(189, 186, 186, .4);
    width: 100%;
    /* height: 100%; */

    margin: 0;
  display: flex;
  place-items: center;
  justify-content: space-around;
  min-width: 100;
  min-height: 100vh;
}

main {
  background-image: url(assets/images/Flag_of_the_United_States_Space_Force.png);
  background-position-y: center;
    background-position-x: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(189, 186, 186, .4);
    width: 100%;
    margin: auto;
    display: flex;

    
}

ul {
  list-style: none;
}

p1 {
  border: solid 3px rgba(169, 169, 169, 0.4);
    background-image: url(assets/images/tardigrade1.jpg);
    grid-area: "p1";
    /* background-position-y: center;
    background-position-x: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100px; */
    width: 200px;
    height: 100px;
    
}

p2 {
  border: solid 3px rgba(169, 169, 169, 0.4);
    background: rgba(169, 169, 169, 0.7) transparent;
}
article {
  flex-direction: column;

}

game-board {
  
  background-color: rgb(189, 186, 186, .4);
    background-color: rgb(189, 186, 186, .4);
    width: -moz-fit-content;
    width: fit-content;
    
  border: solid 4px rgb(8, 8, 8, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: center;
  align-self: center;
  cursor: crosshair;
  margin: auto;

}

.black {
  display: block;
  color: white;
  background-color: black;
  border: solid 1px black;
  float: left;
  position: relative;
  height: 8vh;
  width: 8vh;
}

.white {
  display: block;
  background-color: white;
  border: solid 1px white;
  float: left;
  position: relative;
  height: 8vh;
  width: 8vh;
}

.player > img {
  width: 100px;
  height: 100px;
}

.team > img {
  box-sizing: content-box;
  background-color: gray;
  height: auto;
  width: 100px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
