
* {
  font-family: "lato", sans-serif;
  font-weight: 1;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

:root{
  z-index: 1;

}

h1 {

  z-index: 4;
  margin-top: 6px;
  margin-bottom: 8px;;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 18px;
}

.team {
  
  background-image: linear-gradient(silver, rgb(29, 79, 95)), radial-gradient(circle at top left, grey,navy);
  align-content: center;
  color: black;
  background-color: rgb(187, 176, 176, 0.9);
  width: 600px;
  margin:auto;
  margin-top: 20px;
  text-decoration: none;


}
.member{
margin: auto;
display: flex;
padding: 8px;
justify-content: center;
align-items: center;
border: 8px solid silver;


}
.bio{
text-align: justify;
padding: 12px;

}

.score {
  color: red;
  grid-area: auto;
  align-self: center;
}

nav {
  
  display: flex;
  background-image: linear-gradient(rgb(29, 79, 95), silver), radial-gradient(circle at top left, grey,navy);
  justify-content: space-around;
  padding: 10px;
}

button {
  z-index: 10;
  background-image: linear-gradient(rgb(29, 79, 95), silver);
  margin: 3px;
  border-radius: 8px;
  border: 1px solid ;
  border-right: 2px solid;
  border-bottom: 3px solid;
  padding: 6px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: crosshair;
  transition: border-color 0.25s;
  width: 200px;
  
  font-size: 24px;
}

button:hover {
  margin: 0px;
  box-shadow: inset 0px 0px 6px 6px silver;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
    background-color: #38495a;
    z-index: 2;
    position: center;
    width: 95%;
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
    background: solid darkgray;
    border: solid transparent .4rem;
    
    border-image: linear-gradient(0.15turn, silver 30%, black 60%);
    border-image-slice: 1;
    border-radius: 1vh;
    background-image: linear-gradient(silver, rgb(29, 79, 95)), radial-gradient(circle at top left, grey,navy);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    text-align: center;
    align-content: center;
}

#mid > #icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  z-index: 1;
 
    background: transparent;
    width: 100%;

  margin: 0;
  place-items: center;
  justify-content: space-around;
  min-width: auto;
  max-height: 100%;
}

ul {
  list-style: none;
}

#alien {
  z-index: 8;
  border: solid 3px rgba(169, 169, 169, 0.4);
  box-shadow: 0px 0px 40px 20px rgb(200, 100, 100);
  margin-left: 10px;
    margin-right: 80px;
    
}

#guardian {
  z-index: 8;
  background-color: #090a0f;
  border: solid 3px rgba(169, 169, 169, 0.4);
    /* background: rgba(169, 169, 169, 0.7) transparent; */
    box-shadow: 0px 0px 40px 20px rgb(100, 100, 200);
    margin-left: 80px;
    margin-right: 10px;
}

article {
  z-index: 8;
  flex-direction: column;

}

main {
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
@media screen and (min-width: 991px){
  #gameboard {
    box-shadow: 0px 0px 40px 20px rgb(100, 100, 200);
    margin-top: 20px;
  }
game-board {
  
  z-index: 5;
  background-color: rgb(189, 186, 186, .4);
    background-color: rgb(189, 186, 186, .4);
    width: -moz-fit-content;
    width: fit-content;
    max-width: auto;
    border: solid transparent 24px;
    border-image: linear-gradient(0.15turn, silver 30%, black 60%);
    border-image-slice: 1;
  grid-area: "board";
  display: flex;
  flex-direction: column;
  position: center;
  align-self: center;
  cursor: crosshair;
  margin: auto;
  /* margin-top: 20px; */

  /* animation: spin 3s infinite linear;
  transform: rotate(120deg); */
}
}

@media screen and (max-width: 990px){
  #gameboard {
    box-shadow: 0px 0px 40px 20px rgb(100, 100, 200);
    margin-top: 20px;
  }
  game-board {
    
    z-index: 5;
    background-color: rgb(189, 186, 186, .4);
      background-color: rgb(189, 186, 186, .4);
      width: -moz-fit-content;
      width: fit-content;
      max-width: auto;
      min-width: 304px;
      
      border: solid transparent 14px;
      
      border-image: linear-gradient(0.15turn, silver 30%, black 60%);
      border-image-slice: 1;

    grid-area: "board";
    display: flex;
    flex-direction: column;
    position: center;
    align-self: center;
    cursor: crosshair;
    margin: auto;
    /* margin-top: 20px; */

    /* animation: spin 18s infinite linear;

    transform: rotate(120deg); */

    

  }

  div.piece {
  
    z-index: 15;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin:auto;
  }
  
  .red {
    background-color: rgb(200, 50, 50);
    border: 1px solid rgb(220, 60, 60);
    box-shadow: 2px 2px 4px 2px rgb(160, 0, 0);
  }
  /* if king == true, piece shows image*/
  div.red.true {
    background-color: rgb(200, 50, 50);
    background-image: url(assets/images/tardigrade1.jpg);
    background-size: 18px;
    background-position: 69%;
    background-repeat: no-repeat;
    border: 4px solid rgb(220, 60, 60);
    box-shadow: 2px 2px 4px 2px rgb(160, 0, 0);
  }
  
  .blue {
    background-color: rgb(50, 50, 200);
    border: 4px solid rgb(60, 60, 220);
    box-shadow: 2px 2px 4px 2px rgb(0, 0, 160);
  }
  /* if king == true, piece shows image*/
  div.blue.true {
    background-color: rgb(50, 50, 200);
    background-image: url(assets/images/DeltaGlobeOrbit.png);
    background-size: 18px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 4px solid rgb(60, 60, 220);
    box-shadow: 2px 2px 4px 2px rgb(0, 0, 160);
  }
  
  div.black {
  
    display: flex;
    color: white;
    background-color: black;
    /* border: solid 1px black; */
    float: left;
    position: relative;
    height: 40px;
    width: 38px;
    align-content: space-around;
  }
  
  
  
  div.white {
    display: block;
    background-color: white;
    /* border: solid 1px white; */
    float: left;
    position: relative;
    height: 40px;
    width: 38px;
  }
  
  .player {
    visibility: hidden;
  }
  }

.piece {
  
  z-index: 10;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  margin:auto;
}

.piece:hover{
  box-shadow: 0px 0px 6px 6px silver;
}

.red {
  background-color: rgb(200, 50, 50);
  border: 4px solid rgb(220, 60, 60);
  box-shadow: 2px 2px 4px 2px rgb(160, 0, 0);
}
/* if king == true, piece shows image*/
.red.true {
  background-color: rgb(200, 50, 50);
  background-image: url(assets/images/tardigrade1.jpg);
  background-size: 65px;
  background-position: 69%;
  background-repeat: no-repeat;
  border: 4px solid rgb(220, 60, 60);
  box-shadow: 2px 2px 4px 2px rgb(160, 0, 0);
}

.blue {
  background-color: rgb(50, 50, 200);
  border: 4px solid rgb(60, 60, 220);
  box-shadow: 2px 2px 4px 2px rgb(0, 0, 160);
}
/* if king == true, piece shows image*/
.blue.true {
  background-color: rgb(50, 50, 200);
  background-image: url(assets/images/DeltaGlobeOrbit.png);
  background-size: 40px;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 4px solid rgb(60, 60, 220);
  box-shadow: 2px 2px 4px 2px rgb(0, 0, 160);
}

.black {

  display: flex;
  color: white;
  background-color: black;
  /* border: solid 1px black; */
  float: left;
  position: relative;
  height: 8vh;
  width: 8vh;
  align-content: space-around;
}



.white {
  display: block;
  background-color: white;
  /* border: solid 1px white; */
  float: left;
  position: relative;
  height: 8vh;
  width: 8vh;
}

.player > img {
  width: 150px;
  height: 150px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  z-index: -5;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 560px 501px #FFF , 1929px 774px #FFF , 21px 203px #FFF , 1830px 1230px #FFF , 1167px 133px #FFF , 1031px 906px #FFF , 739px 571px #FFF , 1183px 900px #FFF , 1673px 1575px #FFF , 1709px 808px #FFF , 1355px 1722px #FFF , 986px 598px #FFF , 481px 490px #FFF , 474px 914px #FFF , 14px 1530px #FFF , 1783px 884px #FFF , 777px 1839px #FFF , 1450px 1076px #FFF , 1009px 716px #FFF , 153px 932px #FFF , 25px 1895px #FFF , 219px 1173px #FFF , 1165px 536px #FFF , 1462px 1915px #FFF , 1688px 1388px #FFF , 457px 895px #FFF , 1664px 1744px #FFF , 569px 732px #FFF , 399px 523px #FFF , 1440px 1762px #FFF , 424px 802px #FFF , 1699px 343px #FFF , 1055px 287px #FFF , 445px 434px #FFF , 627px 1944px #FFF , 308px 1272px #FFF , 1051px 86px #FFF , 1860px 1003px #FFF , 381px 195px #FFF , 85px 1314px #FFF , 56px 795px #FFF , 28px 1858px #FFF , 38px 97px #FFF , 1149px 1909px #FFF , 1871px 1169px #FFF , 465px 1291px #FFF , 477px 1553px #FFF , 27px 1068px #FFF , 760px 899px #FFF , 1707px 1832px #FFF , 893px 1642px #FFF , 1508px 244px #FFF , 122px 461px #FFF , 121px 556px #FFF , 1115px 1941px #FFF , 660px 618px #FFF , 1284px 1279px #FFF , 668px 42px #FFF , 797px 997px #FFF , 1090px 410px #FFF , 846px 1242px #FFF , 809px 910px #FFF , 444px 1789px #FFF , 312px 135px #FFF , 1412px 1919px #FFF , 1376px 1408px #FFF , 1535px 1686px #FFF , 440px 1713px #FFF , 805px 782px #FFF , 1174px 1780px #FFF , 1089px 1854px #FFF , 1384px 436px #FFF , 1025px 1118px #FFF , 1755px 107px #FFF , 342px 693px #FFF , 1037px 1386px #FFF , 1170px 1784px #FFF , 642px 1137px #FFF , 496px 1110px #FFF , 586px 1356px #FFF , 1215px 110px #FFF , 225px 1774px #FFF , 834px 1097px #FFF , 1500px 1257px #FFF , 578px 688px #FFF , 1580px 818px #FFF , 1489px 849px #FFF , 208px 1664px #FFF , 633px 149px #FFF , 708px 1291px #FFF , 429px 666px #FFF , 1226px 1615px #FFF , 1124px 245px #FFF , 539px 880px #FFF , 1315px 407px #FFF , 806px 356px #FFF , 1026px 1580px #FFF , 1378px 1969px #FFF , 1112px 288px #FFF , 662px 1487px #FFF , 384px 1990px #FFF , 345px 1113px #FFF , 1433px 543px #FFF , 401px 1608px #FFF , 1035px 1041px #FFF , 1143px 1656px #FFF , 116px 1605px #FFF , 1252px 414px #FFF , 423px 824px #FFF , 940px 323px #FFF , 763px 1180px #FFF , 1364px 777px #FFF , 303px 802px #FFF , 1098px 1218px #FFF , 1817px 1305px #FFF , 1805px 1414px #FFF , 78px 1239px #FFF , 1019px 534px #FFF , 1020px 15px #FFF , 421px 1797px #FFF , 1053px 850px #FFF , 543px 1853px #FFF , 1072px 1305px #FFF , 156px 187px #FFF , 1648px 121px #FFF , 278px 1281px #FFF , 896px 616px #FFF , 746px 1301px #FFF , 1810px 605px #FFF , 3px 502px #FFF , 1231px 1514px #FFF , 867px 612px #FFF , 901px 411px #FFF , 864px 1733px #FFF , 1040px 1977px #FFF , 168px 448px #FFF , 1426px 694px #FFF , 941px 1622px #FFF , 126px 739px #FFF , 1706px 1084px #FFF , 846px 1384px #FFF , 487px 819px #FFF , 293px 679px #FFF , 1825px 1070px #FFF , 381px 139px #FFF , 740px 1541px #FFF , 1705px 1189px #FFF , 1325px 164px #FFF , 1879px 378px #FFF , 1849px 368px #FFF , 862px 1149px #FFF , 1284px 32px #FFF , 1588px 617px #FFF , 607px 1717px #FFF , 1019px 1507px #FFF , 1587px 1835px #FFF , 1646px 1168px #FFF , 1913px 1475px #FFF , 861px 421px #FFF , 1068px 1515px #FFF , 208px 1474px #FFF , 870px 172px #FFF , 1790px 1971px #FFF , 5px 1824px #FFF , 606px 1637px #FFF , 1342px 875px #FFF , 477px 354px #FFF , 1658px 1383px #FFF , 1897px 1265px #FFF , 1717px 626px #FFF , 1649px 1785px #FFF , 1705px 1758px #FFF , 729px 1740px #FFF , 917px 1351px #FFF , 1292px 1767px #FFF , 633px 1464px #FFF , 925px 1174px #FFF , 1122px 14px #FFF , 1044px 1957px #FFF , 915px 133px #FFF , 1766px 672px #FFF , 1522px 23px #FFF , 1028px 1394px #FFF , 708px 794px #FFF , 284px 438px #FFF , 978px 305px #FFF , 209px 1680px #FFF , 690px 1317px #FFF , 381px 1539px #FFF , 1576px 792px #FFF , 1218px 1479px #FFF , 1791px 1757px #FFF , 1067px 1413px #FFF , 636px 855px #FFF , 1991px 1113px #FFF , 1417px 1293px #FFF , 1536px 1001px #FFF , 755px 1864px #FFF , 1235px 1006px #FFF , 1752px 1970px #FFF , 66px 1288px #FFF , 919px 1291px #FFF , 123px 1602px #FFF , 1748px 1443px #FFF , 618px 144px #FFF , 1405px 603px #FFF , 1209px 765px #FFF , 534px 1521px #FFF , 153px 1051px #FFF , 1889px 1005px #FFF , 488px 1602px #FFF , 937px 89px #FFF , 1139px 1053px #FFF , 630px 253px #FFF , 431px 1603px #FFF , 1213px 206px #FFF , 1799px 1156px #FFF , 621px 1365px #FFF , 376px 1711px #FFF , 476px 670px #FFF , 1964px 1797px #FFF , 339px 1358px #FFF , 1048px 223px #FFF , 961px 669px #FFF , 438px 512px #FFF , 486px 934px #FFF , 1602px 481px #FFF , 394px 941px #FFF , 1350px 1106px #FFF , 1223px 1612px #FFF , 1528px 1374px #FFF , 294px 471px #FFF , 515px 637px #FFF , 77px 1488px #FFF , 72px 1567px #FFF , 1828px 1115px #FFF , 1131px 1842px #FFF , 368px 1471px #FFF , 1618px 1616px #FFF , 392px 76px #FFF , 1541px 807px #FFF , 610px 1937px #FFF , 1286px 1697px #FFF , 1960px 1291px #FFF , 1835px 388px #FFF , 587px 53px #FFF , 138px 332px #FFF , 548px 1402px #FFF , 1601px 1571px #FFF , 1402px 1294px #FFF , 1660px 1862px #FFF , 1343px 1480px #FFF , 215px 154px #FFF , 1304px 285px #FFF , 340px 858px #FFF , 1500px 1002px #FFF , 691px 1325px #FFF , 1539px 1628px #FFF , 1595px 172px #FFF , 1598px 996px #FFF , 1180px 1672px #FFF , 1616px 483px #FFF , 1358px 1384px #FFF , 24px 348px #FFF , 945px 1130px #FFF , 1462px 462px #FFF , 620px 1435px #FFF , 817px 272px #FFF , 1507px 88px #FFF , 1498px 1777px #FFF , 467px 1468px #FFF , 1094px 1222px #FFF , 418px 1162px #FFF , 1127px 1939px #FFF , 833px 715px #FFF , 891px 601px #FFF , 1868px 1993px #FFF , 105px 1458px #FFF , 1229px 777px #FFF , 641px 1910px #FFF , 574px 1709px #FFF , 1700px 1205px #FFF , 1456px 1247px #FFF , 783px 315px #FFF , 889px 964px #FFF , 1159px 1873px #FFF , 1988px 1412px #FFF , 1467px 1413px #FFF , 1467px 154px #FFF , 1668px 34px #FFF , 391px 855px #FFF , 1022px 42px #FFF , 1305px 822px #FFF , 974px 1932px #FFF , 1865px 52px #FFF , 539px 1177px #FFF , 589px 1094px #FFF , 417px 1818px #FFF , 627px 851px #FFF , 234px 632px #FFF , 409px 655px #FFF , 1028px 140px #FFF , 881px 1255px #FFF , 176px 1692px #FFF , 408px 1511px #FFF , 397px 462px #FFF , 43px 1121px #FFF , 1550px 334px #FFF , 1423px 219px #FFF , 504px 1648px #FFF , 249px 1163px #FFF , 410px 385px #FFF , 141px 1344px #FFF , 203px 163px #FFF , 1598px 1055px #FFF , 1543px 1549px #FFF , 352px 1000px #FFF , 456px 40px #FFF , 1103px 1007px #FFF , 166px 1084px #FFF , 1543px 186px #FFF , 1323px 181px #FFF , 1630px 1699px #FFF , 333px 640px #FFF , 1007px 150px #FFF , 1690px 1423px #FFF , 58px 1603px #FFF , 1247px 1978px #FFF , 1721px 1193px #FFF , 1006px 1146px #FFF , 304px 1762px #FFF , 207px 1548px #FFF , 726px 414px #FFF , 812px 526px #FFF , 1849px 694px #FFF , 692px 1082px #FFF , 703px 529px #FFF , 1669px 1349px #FFF , 171px 325px #FFF , 30px 1685px #FFF , 711px 1760px #FFF , 1434px 752px #FFF , 1666px 502px #FFF , 806px 373px #FFF , 503px 1788px #FFF , 1292px 1233px #FFF , 1834px 888px #FFF , 1860px 1037px #FFF , 670px 1079px #FFF , 488px 1115px #FFF , 1313px 319px #FFF , 1800px 1077px #FFF , 231px 95px #FFF , 1537px 1606px #FFF , 451px 812px #FFF , 1164px 1460px #FFF , 462px 1124px #FFF , 53px 1541px #FFF , 913px 914px #FFF , 1401px 795px #FFF , 762px 821px #FFF , 671px 1332px #FFF , 1063px 369px #FFF , 1357px 1175px #FFF , 990px 1505px #FFF , 456px 440px #FFF , 979px 217px #FFF , 464px 1789px #FFF , 1660px 1214px #FFF , 467px 1015px #FFF , 1023px 717px #FFF , 1719px 1916px #FFF , 478px 1069px #FFF , 1403px 566px #FFF , 461px 321px #FFF , 1685px 1711px #FFF , 443px 538px #FFF , 128px 290px #FFF , 1676px 659px #FFF , 435px 845px #FFF , 300px 1161px #FFF , 817px 1411px #FFF , 1717px 640px #FFF , 1556px 720px #FFF , 281px 881px #FFF , 218px 105px #FFF , 1878px 81px #FFF , 813px 951px #FFF , 921px 1232px #FFF , 1303px 1435px #FFF , 1926px 1305px #FFF , 1157px 832px #FFF , 1858px 1376px #FFF , 32px 1867px #FFF , 782px 586px #FFF , 1877px 259px #FFF , 78px 1887px #FFF , 1278px 1087px #FFF , 700px 769px #FFF , 373px 1656px #FFF , 525px 780px #FFF , 1314px 1982px #FFF , 82px 1527px #FFF , 1261px 1147px #FFF , 1895px 1289px #FFF , 471px 611px #FFF , 204px 1276px #FFF , 178px 1829px #FFF , 960px 470px #FFF , 1303px 608px #FFF , 801px 535px #FFF , 1702px 1924px #FFF , 643px 1996px #FFF , 909px 455px #FFF , 871px 1538px #FFF , 1833px 959px #FFF , 1895px 1215px #FFF , 694px 1739px #FFF , 406px 1382px #FFF , 998px 1353px #FFF , 1013px 187px #FFF , 1815px 431px #FFF , 1355px 777px #FFF , 1798px 1960px #FFF , 1328px 35px #FFF , 239px 432px #FFF , 1554px 480px #FFF , 90px 909px #FFF , 762px 1632px #FFF , 1874px 1435px #FFF , 1012px 1057px #FFF , 913px 584px #FFF , 201px 597px #FFF , 103px 218px #FFF , 329px 1034px #FFF , 1780px 1239px #FFF , 250px 1213px #FFF , 173px 980px #FFF , 798px 660px #FFF , 26px 1286px #FFF , 219px 187px #FFF , 1140px 101px #FFF , 1406px 1138px #FFF , 470px 1px #FFF , 588px 925px #FFF , 1266px 1106px #FFF , 1025px 1532px #FFF , 1440px 202px #FFF , 1745px 676px #FFF , 337px 655px #FFF , 795px 1659px #FFF , 304px 480px #FFF , 1675px 76px #FFF , 1760px 1965px #FFF , 1234px 1711px #FFF , 424px 570px #FFF , 117px 631px #FFF , 1643px 665px #FFF , 1692px 25px #FFF , 1274px 1801px #FFF , 711px 756px #FFF , 1573px 966px #FFF , 1198px 909px #FFF , 463px 1416px #FFF , 1816px 1181px #FFF , 1060px 1965px #FFF , 1473px 260px #FFF , 507px 328px #FFF , 256px 1348px #FFF , 179px 560px #FFF , 1341px 1785px #FFF , 1111px 1093px #FFF , 704px 302px #FFF , 1015px 782px #FFF , 393px 1291px #FFF , 871px 191px #FFF , 132px 468px #FFF , 1040px 357px #FFF , 353px 150px #FFF , 777px 3px #FFF , 121px 929px #FFF , 1641px 1393px #FFF , 923px 793px #FFF , 1884px 1260px #FFF , 1402px 559px #FFF , 1589px 1575px #FFF , 1969px 683px #FFF , 37px 1837px #FFF , 1063px 457px #FFF , 846px 20px #FFF , 1505px 832px #FFF , 601px 582px #FFF , 241px 1579px #FFF , 683px 1562px #FFF , 111px 73px #FFF , 1166px 1365px #FFF , 511px 141px #FFF , 11px 725px #FFF , 1767px 894px #FFF , 330px 1202px #FFF , 1964px 462px #FFF , 987px 1842px #FFF , 1974px 469px #FFF , 1047px 1572px #FFF , 773px 411px #FFF , 683px 670px #FFF , 1766px 1362px #FFF , 167px 1833px #FFF , 1515px 1906px #FFF , 577px 940px #FFF , 1515px 708px #FFF , 303px 720px #FFF , 371px 1223px #FFF , 100px 186px #FFF , 1447px 721px #FFF , 110px 209px #FFF , 1742px 796px #FFF , 1860px 104px #FFF , 1982px 458px #FFF , 862px 732px #FFF , 1981px 1926px #FFF , 1280px 1160px #FFF , 1374px 672px #FFF , 798px 1519px #FFF , 896px 670px #FFF , 1186px 637px #FFF , 287px 1781px #FFF , 564px 1677px #FFF , 1968px 851px #FFF , 789px 1134px #FFF , 714px 1028px #FFF , 1465px 781px #FFF , 419px 843px #FFF , 846px 1847px #FFF , 1805px 1549px #FFF , 948px 1821px #FFF , 1441px 857px #FFF , 1535px 924px #FFF , 857px 1395px #FFF , 1657px 17px #FFF , 1962px 222px #FFF , 676px 1218px #FFF , 183px 1441px #FFF , 830px 239px #FFF , 349px 213px #FFF , 1717px 668px #FFF , 221px 138px #FFF , 1275px 88px #FFF , 1770px 1909px #FFF , 438px 1959px #FFF , 518px 906px #FFF , 122px 1286px #FFF , 1331px 989px #FFF , 522px 1563px #FFF , 1409px 1509px #FFF , 788px 550px #FFF , 1027px 353px #FFF , 965px 137px #FFF , 1677px 1998px #FFF , 356px 717px #FFF , 576px 749px #FFF , 9px 1060px #FFF , 1821px 1912px #FFF , 299px 1657px #FFF , 1935px 521px #FFF , 1755px 1402px #FFF , 46px 708px #FFF , 1979px 1863px #FFF , 1032px 294px #FFF , 1564px 1344px #FFF , 434px 837px #FFF , 956px 936px #FFF , 1650px 133px #FFF , 1046px 1402px #FFF , 1265px 4px #FFF , 1852px 1676px #FFF , 1269px 1301px #FFF , 417px 1704px #FFF , 74px 1861px #FFF , 727px 1406px #FFF , 731px 1239px #FFF , 1998px 1550px #FFF , 1613px 141px #FFF , 1401px 380px #FFF , 794px 572px #FFF , 1299px 1883px #FFF , 1882px 450px #FFF , 384px 154px #FFF , 1833px 428px #FFF , 1489px 1155px #FFF , 988px 1722px #FFF , 642px 321px #FFF , 1182px 1235px #FFF , 1450px 661px #FFF , 1787px 1902px #FFF , 1253px 805px #FFF , 248px 444px #FFF , 649px 1925px #FFF , 1060px 1185px #FFF , 1945px 1738px #FFF , 653px 1989px #FFF , 970px 730px #FFF , 1618px 1212px #FFF , 538px 515px #FFF , 363px 498px #FFF , 195px 1358px #FFF , 37px 1822px #FFF , 1124px 373px #FFF , 139px 453px #FFF , 1643px 1502px #FFF , 1041px 246px #FFF , 1582px 1180px #FFF , 563px 995px #FFF , 863px 1217px #FFF , 1808px 1730px #FFF , 1399px 1451px #FFF , 1630px 1469px #FFF , 1334px 1170px #FFF , 1577px 132px #FFF , 400px 1611px #FFF , 954px 1749px #FFF , 656px 481px #FFF , 1242px 488px #FFF , 333px 89px #FFF , 727px 407px #FFF , 1131px 63px #FFF , 919px 1124px #FFF , 1372px 419px #FFF , 890px 291px #FFF , 823px 1007px #FFF , 15px 154px #FFF , 983px 503px #FFF , 757px 789px #FFF , 1021px 646px #FFF , 564px 411px #FFF , 1270px 1076px #FFF , 854px 684px #FFF , 183px 1730px #FFF , 1370px 1300px #FFF , 672px 1396px #FFF , 922px 439px #FFF , 1078px 251px #FFF , 1253px 1986px #FFF , 1762px 1953px #FFF , 1551px 1632px #FFF , 1387px 861px #FFF , 1199px 744px #FFF , 836px 478px #FFF , 986px 242px #FFF , 1612px 749px #FFF , 349px 1478px #FFF , 656px 1144px #FFF , 493px 814px #FFF , 412px 857px #FFF , 1686px 596px #FFF , 1288px 1294px #FFF , 458px 1321px #FFF , 659px 1763px #FFF , 16px 517px #FFF , 1136px 1656px #FFF , 1460px 649px #FFF , 365px 166px #FFF , 1076px 987px #FFF , 624px 47px #FFF , 1044px 619px #FFF , 195px 384px #FFF , 1505px 1080px #FFF , 520px 1241px #FFF , 1783px 702px #FFF , 1723px 855px #FFF , 230px 1581px #FFF , 757px 923px #FFF , 1472px 994px #FFF , 548px 1258px #FFF , 401px 1678px #FFF , 1033px 1302px #FFF , 1198px 838px #FFF , 486px 1984px #FFF , 859px 1072px #FFF , 1550px 1752px #FFF , 82px 738px #FFF , 1896px 174px #FFF , 1352px 135px #FFF , 1622px 739px #FFF , 1134px 1530px #FFF , 1575px 1720px #FFF , 1358px 705px #FFF , 226px 600px #FFF , 931px 166px #FFF , 1853px 1647px #FFF , 1363px 1960px #FFF , 1872px 1504px #FFF , 1737px 294px #FFF , 281px 1022px #FFF , 1138px 996px #FFF , 1913px 1968px #FFF , 1767px 351px #FFF , 1241px 1804px #FFF , 1791px 885px #FFF , 97px 1008px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  z-index: -5;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 560px 501px #FFF , 1929px 774px #FFF , 21px 203px #FFF , 1830px 1230px #FFF , 1167px 133px #FFF , 1031px 906px #FFF , 739px 571px #FFF , 1183px 900px #FFF , 1673px 1575px #FFF , 1709px 808px #FFF , 1355px 1722px #FFF , 986px 598px #FFF , 481px 490px #FFF , 474px 914px #FFF , 14px 1530px #FFF , 1783px 884px #FFF , 777px 1839px #FFF , 1450px 1076px #FFF , 1009px 716px #FFF , 153px 932px #FFF , 25px 1895px #FFF , 219px 1173px #FFF , 1165px 536px #FFF , 1462px 1915px #FFF , 1688px 1388px #FFF , 457px 895px #FFF , 1664px 1744px #FFF , 569px 732px #FFF , 399px 523px #FFF , 1440px 1762px #FFF , 424px 802px #FFF , 1699px 343px #FFF , 1055px 287px #FFF , 445px 434px #FFF , 627px 1944px #FFF , 308px 1272px #FFF , 1051px 86px #FFF , 1860px 1003px #FFF , 381px 195px #FFF , 85px 1314px #FFF , 56px 795px #FFF , 28px 1858px #FFF , 38px 97px #FFF , 1149px 1909px #FFF , 1871px 1169px #FFF , 465px 1291px #FFF , 477px 1553px #FFF , 27px 1068px #FFF , 760px 899px #FFF , 1707px 1832px #FFF , 893px 1642px #FFF , 1508px 244px #FFF , 122px 461px #FFF , 121px 556px #FFF , 1115px 1941px #FFF , 660px 618px #FFF , 1284px 1279px #FFF , 668px 42px #FFF , 797px 997px #FFF , 1090px 410px #FFF , 846px 1242px #FFF , 809px 910px #FFF , 444px 1789px #FFF , 312px 135px #FFF , 1412px 1919px #FFF , 1376px 1408px #FFF , 1535px 1686px #FFF , 440px 1713px #FFF , 805px 782px #FFF , 1174px 1780px #FFF , 1089px 1854px #FFF , 1384px 436px #FFF , 1025px 1118px #FFF , 1755px 107px #FFF , 342px 693px #FFF , 1037px 1386px #FFF , 1170px 1784px #FFF , 642px 1137px #FFF , 496px 1110px #FFF , 586px 1356px #FFF , 1215px 110px #FFF , 225px 1774px #FFF , 834px 1097px #FFF , 1500px 1257px #FFF , 578px 688px #FFF , 1580px 818px #FFF , 1489px 849px #FFF , 208px 1664px #FFF , 633px 149px #FFF , 708px 1291px #FFF , 429px 666px #FFF , 1226px 1615px #FFF , 1124px 245px #FFF , 539px 880px #FFF , 1315px 407px #FFF , 806px 356px #FFF , 1026px 1580px #FFF , 1378px 1969px #FFF , 1112px 288px #FFF , 662px 1487px #FFF , 384px 1990px #FFF , 345px 1113px #FFF , 1433px 543px #FFF , 401px 1608px #FFF , 1035px 1041px #FFF , 1143px 1656px #FFF , 116px 1605px #FFF , 1252px 414px #FFF , 423px 824px #FFF , 940px 323px #FFF , 763px 1180px #FFF , 1364px 777px #FFF , 303px 802px #FFF , 1098px 1218px #FFF , 1817px 1305px #FFF , 1805px 1414px #FFF , 78px 1239px #FFF , 1019px 534px #FFF , 1020px 15px #FFF , 421px 1797px #FFF , 1053px 850px #FFF , 543px 1853px #FFF , 1072px 1305px #FFF , 156px 187px #FFF , 1648px 121px #FFF , 278px 1281px #FFF , 896px 616px #FFF , 746px 1301px #FFF , 1810px 605px #FFF , 3px 502px #FFF , 1231px 1514px #FFF , 867px 612px #FFF , 901px 411px #FFF , 864px 1733px #FFF , 1040px 1977px #FFF , 168px 448px #FFF , 1426px 694px #FFF , 941px 1622px #FFF , 126px 739px #FFF , 1706px 1084px #FFF , 846px 1384px #FFF , 487px 819px #FFF , 293px 679px #FFF , 1825px 1070px #FFF , 381px 139px #FFF , 740px 1541px #FFF , 1705px 1189px #FFF , 1325px 164px #FFF , 1879px 378px #FFF , 1849px 368px #FFF , 862px 1149px #FFF , 1284px 32px #FFF , 1588px 617px #FFF , 607px 1717px #FFF , 1019px 1507px #FFF , 1587px 1835px #FFF , 1646px 1168px #FFF , 1913px 1475px #FFF , 861px 421px #FFF , 1068px 1515px #FFF , 208px 1474px #FFF , 870px 172px #FFF , 1790px 1971px #FFF , 5px 1824px #FFF , 606px 1637px #FFF , 1342px 875px #FFF , 477px 354px #FFF , 1658px 1383px #FFF , 1897px 1265px #FFF , 1717px 626px #FFF , 1649px 1785px #FFF , 1705px 1758px #FFF , 729px 1740px #FFF , 917px 1351px #FFF , 1292px 1767px #FFF , 633px 1464px #FFF , 925px 1174px #FFF , 1122px 14px #FFF , 1044px 1957px #FFF , 915px 133px #FFF , 1766px 672px #FFF , 1522px 23px #FFF , 1028px 1394px #FFF , 708px 794px #FFF , 284px 438px #FFF , 978px 305px #FFF , 209px 1680px #FFF , 690px 1317px #FFF , 381px 1539px #FFF , 1576px 792px #FFF , 1218px 1479px #FFF , 1791px 1757px #FFF , 1067px 1413px #FFF , 636px 855px #FFF , 1991px 1113px #FFF , 1417px 1293px #FFF , 1536px 1001px #FFF , 755px 1864px #FFF , 1235px 1006px #FFF , 1752px 1970px #FFF , 66px 1288px #FFF , 919px 1291px #FFF , 123px 1602px #FFF , 1748px 1443px #FFF , 618px 144px #FFF , 1405px 603px #FFF , 1209px 765px #FFF , 534px 1521px #FFF , 153px 1051px #FFF , 1889px 1005px #FFF , 488px 1602px #FFF , 937px 89px #FFF , 1139px 1053px #FFF , 630px 253px #FFF , 431px 1603px #FFF , 1213px 206px #FFF , 1799px 1156px #FFF , 621px 1365px #FFF , 376px 1711px #FFF , 476px 670px #FFF , 1964px 1797px #FFF , 339px 1358px #FFF , 1048px 223px #FFF , 961px 669px #FFF , 438px 512px #FFF , 486px 934px #FFF , 1602px 481px #FFF , 394px 941px #FFF , 1350px 1106px #FFF , 1223px 1612px #FFF , 1528px 1374px #FFF , 294px 471px #FFF , 515px 637px #FFF , 77px 1488px #FFF , 72px 1567px #FFF , 1828px 1115px #FFF , 1131px 1842px #FFF , 368px 1471px #FFF , 1618px 1616px #FFF , 392px 76px #FFF , 1541px 807px #FFF , 610px 1937px #FFF , 1286px 1697px #FFF , 1960px 1291px #FFF , 1835px 388px #FFF , 587px 53px #FFF , 138px 332px #FFF , 548px 1402px #FFF , 1601px 1571px #FFF , 1402px 1294px #FFF , 1660px 1862px #FFF , 1343px 1480px #FFF , 215px 154px #FFF , 1304px 285px #FFF , 340px 858px #FFF , 1500px 1002px #FFF , 691px 1325px #FFF , 1539px 1628px #FFF , 1595px 172px #FFF , 1598px 996px #FFF , 1180px 1672px #FFF , 1616px 483px #FFF , 1358px 1384px #FFF , 24px 348px #FFF , 945px 1130px #FFF , 1462px 462px #FFF , 620px 1435px #FFF , 817px 272px #FFF , 1507px 88px #FFF , 1498px 1777px #FFF , 467px 1468px #FFF , 1094px 1222px #FFF , 418px 1162px #FFF , 1127px 1939px #FFF , 833px 715px #FFF , 891px 601px #FFF , 1868px 1993px #FFF , 105px 1458px #FFF , 1229px 777px #FFF , 641px 1910px #FFF , 574px 1709px #FFF , 1700px 1205px #FFF , 1456px 1247px #FFF , 783px 315px #FFF , 889px 964px #FFF , 1159px 1873px #FFF , 1988px 1412px #FFF , 1467px 1413px #FFF , 1467px 154px #FFF , 1668px 34px #FFF , 391px 855px #FFF , 1022px 42px #FFF , 1305px 822px #FFF , 974px 1932px #FFF , 1865px 52px #FFF , 539px 1177px #FFF , 589px 1094px #FFF , 417px 1818px #FFF , 627px 851px #FFF , 234px 632px #FFF , 409px 655px #FFF , 1028px 140px #FFF , 881px 1255px #FFF , 176px 1692px #FFF , 408px 1511px #FFF , 397px 462px #FFF , 43px 1121px #FFF , 1550px 334px #FFF , 1423px 219px #FFF , 504px 1648px #FFF , 249px 1163px #FFF , 410px 385px #FFF , 141px 1344px #FFF , 203px 163px #FFF , 1598px 1055px #FFF , 1543px 1549px #FFF , 352px 1000px #FFF , 456px 40px #FFF , 1103px 1007px #FFF , 166px 1084px #FFF , 1543px 186px #FFF , 1323px 181px #FFF , 1630px 1699px #FFF , 333px 640px #FFF , 1007px 150px #FFF , 1690px 1423px #FFF , 58px 1603px #FFF , 1247px 1978px #FFF , 1721px 1193px #FFF , 1006px 1146px #FFF , 304px 1762px #FFF , 207px 1548px #FFF , 726px 414px #FFF , 812px 526px #FFF , 1849px 694px #FFF , 692px 1082px #FFF , 703px 529px #FFF , 1669px 1349px #FFF , 171px 325px #FFF , 30px 1685px #FFF , 711px 1760px #FFF , 1434px 752px #FFF , 1666px 502px #FFF , 806px 373px #FFF , 503px 1788px #FFF , 1292px 1233px #FFF , 1834px 888px #FFF , 1860px 1037px #FFF , 670px 1079px #FFF , 488px 1115px #FFF , 1313px 319px #FFF , 1800px 1077px #FFF , 231px 95px #FFF , 1537px 1606px #FFF , 451px 812px #FFF , 1164px 1460px #FFF , 462px 1124px #FFF , 53px 1541px #FFF , 913px 914px #FFF , 1401px 795px #FFF , 762px 821px #FFF , 671px 1332px #FFF , 1063px 369px #FFF , 1357px 1175px #FFF , 990px 1505px #FFF , 456px 440px #FFF , 979px 217px #FFF , 464px 1789px #FFF , 1660px 1214px #FFF , 467px 1015px #FFF , 1023px 717px #FFF , 1719px 1916px #FFF , 478px 1069px #FFF , 1403px 566px #FFF , 461px 321px #FFF , 1685px 1711px #FFF , 443px 538px #FFF , 128px 290px #FFF , 1676px 659px #FFF , 435px 845px #FFF , 300px 1161px #FFF , 817px 1411px #FFF , 1717px 640px #FFF , 1556px 720px #FFF , 281px 881px #FFF , 218px 105px #FFF , 1878px 81px #FFF , 813px 951px #FFF , 921px 1232px #FFF , 1303px 1435px #FFF , 1926px 1305px #FFF , 1157px 832px #FFF , 1858px 1376px #FFF , 32px 1867px #FFF , 782px 586px #FFF , 1877px 259px #FFF , 78px 1887px #FFF , 1278px 1087px #FFF , 700px 769px #FFF , 373px 1656px #FFF , 525px 780px #FFF , 1314px 1982px #FFF , 82px 1527px #FFF , 1261px 1147px #FFF , 1895px 1289px #FFF , 471px 611px #FFF , 204px 1276px #FFF , 178px 1829px #FFF , 960px 470px #FFF , 1303px 608px #FFF , 801px 535px #FFF , 1702px 1924px #FFF , 643px 1996px #FFF , 909px 455px #FFF , 871px 1538px #FFF , 1833px 959px #FFF , 1895px 1215px #FFF , 694px 1739px #FFF , 406px 1382px #FFF , 998px 1353px #FFF , 1013px 187px #FFF , 1815px 431px #FFF , 1355px 777px #FFF , 1798px 1960px #FFF , 1328px 35px #FFF , 239px 432px #FFF , 1554px 480px #FFF , 90px 909px #FFF , 762px 1632px #FFF , 1874px 1435px #FFF , 1012px 1057px #FFF , 913px 584px #FFF , 201px 597px #FFF , 103px 218px #FFF , 329px 1034px #FFF , 1780px 1239px #FFF , 250px 1213px #FFF , 173px 980px #FFF , 798px 660px #FFF , 26px 1286px #FFF , 219px 187px #FFF , 1140px 101px #FFF , 1406px 1138px #FFF , 470px 1px #FFF , 588px 925px #FFF , 1266px 1106px #FFF , 1025px 1532px #FFF , 1440px 202px #FFF , 1745px 676px #FFF , 337px 655px #FFF , 795px 1659px #FFF , 304px 480px #FFF , 1675px 76px #FFF , 1760px 1965px #FFF , 1234px 1711px #FFF , 424px 570px #FFF , 117px 631px #FFF , 1643px 665px #FFF , 1692px 25px #FFF , 1274px 1801px #FFF , 711px 756px #FFF , 1573px 966px #FFF , 1198px 909px #FFF , 463px 1416px #FFF , 1816px 1181px #FFF , 1060px 1965px #FFF , 1473px 260px #FFF , 507px 328px #FFF , 256px 1348px #FFF , 179px 560px #FFF , 1341px 1785px #FFF , 1111px 1093px #FFF , 704px 302px #FFF , 1015px 782px #FFF , 393px 1291px #FFF , 871px 191px #FFF , 132px 468px #FFF , 1040px 357px #FFF , 353px 150px #FFF , 777px 3px #FFF , 121px 929px #FFF , 1641px 1393px #FFF , 923px 793px #FFF , 1884px 1260px #FFF , 1402px 559px #FFF , 1589px 1575px #FFF , 1969px 683px #FFF , 37px 1837px #FFF , 1063px 457px #FFF , 846px 20px #FFF , 1505px 832px #FFF , 601px 582px #FFF , 241px 1579px #FFF , 683px 1562px #FFF , 111px 73px #FFF , 1166px 1365px #FFF , 511px 141px #FFF , 11px 725px #FFF , 1767px 894px #FFF , 330px 1202px #FFF , 1964px 462px #FFF , 987px 1842px #FFF , 1974px 469px #FFF , 1047px 1572px #FFF , 773px 411px #FFF , 683px 670px #FFF , 1766px 1362px #FFF , 167px 1833px #FFF , 1515px 1906px #FFF , 577px 940px #FFF , 1515px 708px #FFF , 303px 720px #FFF , 371px 1223px #FFF , 100px 186px #FFF , 1447px 721px #FFF , 110px 209px #FFF , 1742px 796px #FFF , 1860px 104px #FFF , 1982px 458px #FFF , 862px 732px #FFF , 1981px 1926px #FFF , 1280px 1160px #FFF , 1374px 672px #FFF , 798px 1519px #FFF , 896px 670px #FFF , 1186px 637px #FFF , 287px 1781px #FFF , 564px 1677px #FFF , 1968px 851px #FFF , 789px 1134px #FFF , 714px 1028px #FFF , 1465px 781px #FFF , 419px 843px #FFF , 846px 1847px #FFF , 1805px 1549px #FFF , 948px 1821px #FFF , 1441px 857px #FFF , 1535px 924px #FFF , 857px 1395px #FFF , 1657px 17px #FFF , 1962px 222px #FFF , 676px 1218px #FFF , 183px 1441px #FFF , 830px 239px #FFF , 349px 213px #FFF , 1717px 668px #FFF , 221px 138px #FFF , 1275px 88px #FFF , 1770px 1909px #FFF , 438px 1959px #FFF , 518px 906px #FFF , 122px 1286px #FFF , 1331px 989px #FFF , 522px 1563px #FFF , 1409px 1509px #FFF , 788px 550px #FFF , 1027px 353px #FFF , 965px 137px #FFF , 1677px 1998px #FFF , 356px 717px #FFF , 576px 749px #FFF , 9px 1060px #FFF , 1821px 1912px #FFF , 299px 1657px #FFF , 1935px 521px #FFF , 1755px 1402px #FFF , 46px 708px #FFF , 1979px 1863px #FFF , 1032px 294px #FFF , 1564px 1344px #FFF , 434px 837px #FFF , 956px 936px #FFF , 1650px 133px #FFF , 1046px 1402px #FFF , 1265px 4px #FFF , 1852px 1676px #FFF , 1269px 1301px #FFF , 417px 1704px #FFF , 74px 1861px #FFF , 727px 1406px #FFF , 731px 1239px #FFF , 1998px 1550px #FFF , 1613px 141px #FFF , 1401px 380px #FFF , 794px 572px #FFF , 1299px 1883px #FFF , 1882px 450px #FFF , 384px 154px #FFF , 1833px 428px #FFF , 1489px 1155px #FFF , 988px 1722px #FFF , 642px 321px #FFF , 1182px 1235px #FFF , 1450px 661px #FFF , 1787px 1902px #FFF , 1253px 805px #FFF , 248px 444px #FFF , 649px 1925px #FFF , 1060px 1185px #FFF , 1945px 1738px #FFF , 653px 1989px #FFF , 970px 730px #FFF , 1618px 1212px #FFF , 538px 515px #FFF , 363px 498px #FFF , 195px 1358px #FFF , 37px 1822px #FFF , 1124px 373px #FFF , 139px 453px #FFF , 1643px 1502px #FFF , 1041px 246px #FFF , 1582px 1180px #FFF , 563px 995px #FFF , 863px 1217px #FFF , 1808px 1730px #FFF , 1399px 1451px #FFF , 1630px 1469px #FFF , 1334px 1170px #FFF , 1577px 132px #FFF , 400px 1611px #FFF , 954px 1749px #FFF , 656px 481px #FFF , 1242px 488px #FFF , 333px 89px #FFF , 727px 407px #FFF , 1131px 63px #FFF , 919px 1124px #FFF , 1372px 419px #FFF , 890px 291px #FFF , 823px 1007px #FFF , 15px 154px #FFF , 983px 503px #FFF , 757px 789px #FFF , 1021px 646px #FFF , 564px 411px #FFF , 1270px 1076px #FFF , 854px 684px #FFF , 183px 1730px #FFF , 1370px 1300px #FFF , 672px 1396px #FFF , 922px 439px #FFF , 1078px 251px #FFF , 1253px 1986px #FFF , 1762px 1953px #FFF , 1551px 1632px #FFF , 1387px 861px #FFF , 1199px 744px #FFF , 836px 478px #FFF , 986px 242px #FFF , 1612px 749px #FFF , 349px 1478px #FFF , 656px 1144px #FFF , 493px 814px #FFF , 412px 857px #FFF , 1686px 596px #FFF , 1288px 1294px #FFF , 458px 1321px #FFF , 659px 1763px #FFF , 16px 517px #FFF , 1136px 1656px #FFF , 1460px 649px #FFF , 365px 166px #FFF , 1076px 987px #FFF , 624px 47px #FFF , 1044px 619px #FFF , 195px 384px #FFF , 1505px 1080px #FFF , 520px 1241px #FFF , 1783px 702px #FFF , 1723px 855px #FFF , 230px 1581px #FFF , 757px 923px #FFF , 1472px 994px #FFF , 548px 1258px #FFF , 401px 1678px #FFF , 1033px 1302px #FFF , 1198px 838px #FFF , 486px 1984px #FFF , 859px 1072px #FFF , 1550px 1752px #FFF , 82px 738px #FFF , 1896px 174px #FFF , 1352px 135px #FFF , 1622px 739px #FFF , 1134px 1530px #FFF , 1575px 1720px #FFF , 1358px 705px #FFF , 226px 600px #FFF , 931px 166px #FFF , 1853px 1647px #FFF , 1363px 1960px #FFF , 1872px 1504px #FFF , 1737px 294px #FFF , 281px 1022px #FFF , 1138px 996px #FFF , 1913px 1968px #FFF , 1767px 351px #FFF , 1241px 1804px #FFF , 1791px 885px #FFF , 97px 1008px #FFF;
}

#stars2 {
  z-index: -5;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1805px 611px #FFF , 821px 1841px #FFF , 1573px 1574px #FFF , 1566px 1998px #FFF , 1044px 1598px #FFF , 1425px 1590px #FFF , 1194px 1589px #FFF , 1108px 672px #FFF , 352px 238px #FFF , 790px 811px #FFF , 1043px 1026px #FFF , 27px 1811px #FFF , 527px 886px #FFF , 599px 1707px #FFF , 1196px 226px #FFF , 534px 1070px #FFF , 29px 867px #FFF , 1138px 1815px #FFF , 882px 241px #FFF , 265px 279px #FFF , 1915px 1473px #FFF , 260px 890px #FFF , 1638px 29px #FFF , 1407px 564px #FFF , 756px 1682px #FFF , 1452px 37px #FFF , 854px 941px #FFF , 1563px 798px #FFF , 1122px 322px #FFF , 512px 1477px #FFF , 1996px 1260px #FFF , 269px 599px #FFF , 976px 307px #FFF , 524px 1121px #FFF , 780px 504px #FFF , 580px 1112px #FFF , 1380px 586px #FFF , 796px 1059px #FFF , 558px 1331px #FFF , 1400px 317px #FFF , 1434px 1379px #FFF , 218px 1350px #FFF , 1216px 1810px #FFF , 275px 396px #FFF , 1180px 267px #FFF , 1764px 915px #FFF , 823px 235px #FFF , 1171px 1450px #FFF , 810px 1457px #FFF , 1207px 47px #FFF , 130px 1205px #FFF , 1839px 1791px #FFF , 965px 307px #FFF , 1630px 294px #FFF , 1364px 351px #FFF , 1683px 1883px #FFF , 1889px 1840px #FFF , 1784px 560px #FFF , 400px 1285px #FFF , 1134px 781px #FFF , 1284px 1687px #FFF , 1052px 159px #FFF , 1478px 1952px #FFF , 1895px 1988px #FFF , 828px 717px #FFF , 1053px 100px #FFF , 637px 815px #FFF , 516px 409px #FFF , 1745px 517px #FFF , 1679px 1881px #FFF , 1206px 810px #FFF , 755px 167px #FFF , 1580px 1733px #FFF , 950px 193px #FFF , 135px 1044px #FFF , 495px 1894px #FFF , 1854px 887px #FFF , 1176px 1245px #FFF , 294px 1436px #FFF , 208px 852px #FFF , 1424px 1040px #FFF , 425px 307px #FFF , 483px 18px #FFF , 611px 986px #FFF , 1865px 1408px #FFF , 73px 1090px #FFF , 444px 890px #FFF , 826px 991px #FFF , 1441px 603px #FFF , 253px 115px #FFF , 593px 1810px #FFF , 1405px 1963px #FFF , 1257px 679px #FFF , 630px 626px #FFF , 378px 321px #FFF , 1607px 1825px #FFF , 1243px 1637px #FFF , 1157px 821px #FFF , 1486px 1680px #FFF , 946px 1043px #FFF , 589px 365px #FFF , 459px 1511px #FFF , 277px 1151px #FFF , 569px 550px #FFF , 1778px 199px #FFF , 28px 823px #FFF , 995px 1045px #FFF , 1176px 1340px #FFF , 1451px 1338px #FFF , 20px 1116px #FFF , 1424px 1473px #FFF , 1251px 727px #FFF , 1863px 781px #FFF , 1662px 597px #FFF , 706px 1196px #FFF , 217px 916px #FFF , 195px 848px #FFF , 1036px 979px #FFF , 1847px 890px #FFF , 55px 1416px #FFF , 605px 1193px #FFF , 1372px 1139px #FFF , 434px 1844px #FFF , 1089px 1558px #FFF , 337px 930px #FFF , 1573px 1404px #FFF , 1176px 1724px #FFF , 1628px 1191px #FFF , 1907px 874px #FFF , 1922px 896px #FFF , 423px 919px #FFF , 463px 1476px #FFF , 112px 1661px #FFF , 1968px 577px #FFF , 1612px 1058px #FFF , 891px 242px #FFF , 1660px 200px #FFF , 1875px 799px #FFF , 355px 1670px #FFF , 957px 1367px #FFF , 9px 363px #FFF , 230px 140px #FFF , 120px 735px #FFF , 623px 454px #FFF , 1480px 1146px #FFF , 704px 579px #FFF , 306px 1943px #FFF , 708px 891px #FFF , 654px 334px #FFF , 1696px 1441px #FFF , 1207px 143px #FFF , 918px 1891px #FFF , 1634px 1106px #FFF , 598px 1434px #FFF , 1188px 615px #FFF , 1276px 1934px #FFF , 15px 905px #FFF , 1783px 1206px #FFF , 345px 334px #FFF , 728px 370px #FFF , 739px 225px #FFF , 623px 435px #FFF , 775px 457px #FFF , 122px 448px #FFF , 1100px 725px #FFF , 1312px 421px #FFF , 1629px 85px #FFF , 1431px 728px #FFF , 880px 1233px #FFF , 1266px 1540px #FFF , 1222px 1124px #FFF , 1956px 1368px #FFF , 253px 586px #FFF , 1720px 316px #FFF , 51px 1520px #FFF , 1774px 455px #FFF , 3px 1532px #FFF , 189px 1123px #FFF , 966px 501px #FFF , 1899px 1346px #FFF , 902px 417px #FFF , 1px 651px #FFF , 1209px 731px #FFF , 1043px 102px #FFF , 687px 244px #FFF , 425px 244px #FFF , 934px 1751px #FFF , 44px 943px #FFF , 1623px 992px #FFF , 478px 793px #FFF , 1985px 1211px #FFF , 1940px 1656px #FFF , 1980px 1339px #FFF , 1148px 768px #FFF , 81px 1741px #FFF , 1313px 945px #FFF , 784px 30px #FFF , 251px 889px #FFF , 172px 218px #FFF , 546px 1158px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  z-index: -5;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1805px 611px #FFF , 821px 1841px #FFF , 1573px 1574px #FFF , 1566px 1998px #FFF , 1044px 1598px #FFF , 1425px 1590px #FFF , 1194px 1589px #FFF , 1108px 672px #FFF , 352px 238px #FFF , 790px 811px #FFF , 1043px 1026px #FFF , 27px 1811px #FFF , 527px 886px #FFF , 599px 1707px #FFF , 1196px 226px #FFF , 534px 1070px #FFF , 29px 867px #FFF , 1138px 1815px #FFF , 882px 241px #FFF , 265px 279px #FFF , 1915px 1473px #FFF , 260px 890px #FFF , 1638px 29px #FFF , 1407px 564px #FFF , 756px 1682px #FFF , 1452px 37px #FFF , 854px 941px #FFF , 1563px 798px #FFF , 1122px 322px #FFF , 512px 1477px #FFF , 1996px 1260px #FFF , 269px 599px #FFF , 976px 307px #FFF , 524px 1121px #FFF , 780px 504px #FFF , 580px 1112px #FFF , 1380px 586px #FFF , 796px 1059px #FFF , 558px 1331px #FFF , 1400px 317px #FFF , 1434px 1379px #FFF , 218px 1350px #FFF , 1216px 1810px #FFF , 275px 396px #FFF , 1180px 267px #FFF , 1764px 915px #FFF , 823px 235px #FFF , 1171px 1450px #FFF , 810px 1457px #FFF , 1207px 47px #FFF , 130px 1205px #FFF , 1839px 1791px #FFF , 965px 307px #FFF , 1630px 294px #FFF , 1364px 351px #FFF , 1683px 1883px #FFF , 1889px 1840px #FFF , 1784px 560px #FFF , 400px 1285px #FFF , 1134px 781px #FFF , 1284px 1687px #FFF , 1052px 159px #FFF , 1478px 1952px #FFF , 1895px 1988px #FFF , 828px 717px #FFF , 1053px 100px #FFF , 637px 815px #FFF , 516px 409px #FFF , 1745px 517px #FFF , 1679px 1881px #FFF , 1206px 810px #FFF , 755px 167px #FFF , 1580px 1733px #FFF , 950px 193px #FFF , 135px 1044px #FFF , 495px 1894px #FFF , 1854px 887px #FFF , 1176px 1245px #FFF , 294px 1436px #FFF , 208px 852px #FFF , 1424px 1040px #FFF , 425px 307px #FFF , 483px 18px #FFF , 611px 986px #FFF , 1865px 1408px #FFF , 73px 1090px #FFF , 444px 890px #FFF , 826px 991px #FFF , 1441px 603px #FFF , 253px 115px #FFF , 593px 1810px #FFF , 1405px 1963px #FFF , 1257px 679px #FFF , 630px 626px #FFF , 378px 321px #FFF , 1607px 1825px #FFF , 1243px 1637px #FFF , 1157px 821px #FFF , 1486px 1680px #FFF , 946px 1043px #FFF , 589px 365px #FFF , 459px 1511px #FFF , 277px 1151px #FFF , 569px 550px #FFF , 1778px 199px #FFF , 28px 823px #FFF , 995px 1045px #FFF , 1176px 1340px #FFF , 1451px 1338px #FFF , 20px 1116px #FFF , 1424px 1473px #FFF , 1251px 727px #FFF , 1863px 781px #FFF , 1662px 597px #FFF , 706px 1196px #FFF , 217px 916px #FFF , 195px 848px #FFF , 1036px 979px #FFF , 1847px 890px #FFF , 55px 1416px #FFF , 605px 1193px #FFF , 1372px 1139px #FFF , 434px 1844px #FFF , 1089px 1558px #FFF , 337px 930px #FFF , 1573px 1404px #FFF , 1176px 1724px #FFF , 1628px 1191px #FFF , 1907px 874px #FFF , 1922px 896px #FFF , 423px 919px #FFF , 463px 1476px #FFF , 112px 1661px #FFF , 1968px 577px #FFF , 1612px 1058px #FFF , 891px 242px #FFF , 1660px 200px #FFF , 1875px 799px #FFF , 355px 1670px #FFF , 957px 1367px #FFF , 9px 363px #FFF , 230px 140px #FFF , 120px 735px #FFF , 623px 454px #FFF , 1480px 1146px #FFF , 704px 579px #FFF , 306px 1943px #FFF , 708px 891px #FFF , 654px 334px #FFF , 1696px 1441px #FFF , 1207px 143px #FFF , 918px 1891px #FFF , 1634px 1106px #FFF , 598px 1434px #FFF , 1188px 615px #FFF , 1276px 1934px #FFF , 15px 905px #FFF , 1783px 1206px #FFF , 345px 334px #FFF , 728px 370px #FFF , 739px 225px #FFF , 623px 435px #FFF , 775px 457px #FFF , 122px 448px #FFF , 1100px 725px #FFF , 1312px 421px #FFF , 1629px 85px #FFF , 1431px 728px #FFF , 880px 1233px #FFF , 1266px 1540px #FFF , 1222px 1124px #FFF , 1956px 1368px #FFF , 253px 586px #FFF , 1720px 316px #FFF , 51px 1520px #FFF , 1774px 455px #FFF , 3px 1532px #FFF , 189px 1123px #FFF , 966px 501px #FFF , 1899px 1346px #FFF , 902px 417px #FFF , 1px 651px #FFF , 1209px 731px #FFF , 1043px 102px #FFF , 687px 244px #FFF , 425px 244px #FFF , 934px 1751px #FFF , 44px 943px #FFF , 1623px 992px #FFF , 478px 793px #FFF , 1985px 1211px #FFF , 1940px 1656px #FFF , 1980px 1339px #FFF , 1148px 768px #FFF , 81px 1741px #FFF , 1313px 945px #FFF , 784px 30px #FFF , 251px 889px #FFF , 172px 218px #FFF , 546px 1158px #FFF;
}

#stars3 {
  z-index: -5;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1155px 1707px #FFF , 1771px 1719px #FFF , 1710px 631px #FFF , 810px 1134px #FFF , 1386px 1275px #FFF , 1105px 199px #FFF , 1856px 973px #FFF , 1143px 1061px #FFF , 1195px 119px #FFF , 1460px 1568px #FFF , 52px 1969px #FFF , 1376px 200px #FFF , 1222px 149px #FFF , 1333px 1725px #FFF , 1651px 1661px #FFF , 926px 247px #FFF , 960px 1459px #FFF , 1667px 256px #FFF , 1023px 867px #FFF , 211px 1099px #FFF , 766px 561px #FFF , 873px 530px #FFF , 1157px 587px #FFF , 727px 1528px #FFF , 656px 468px #FFF , 359px 648px #FFF , 204px 983px #FFF , 875px 1088px #FFF , 1947px 698px #FFF , 757px 1498px #FFF , 1168px 361px #FFF , 367px 618px #FFF , 1967px 1826px #FFF , 658px 380px #FFF , 1104px 880px #FFF , 1191px 906px #FFF , 1086px 1142px #FFF , 1128px 1583px #FFF , 525px 268px #FFF , 1417px 673px #FFF , 1718px 1906px #FFF , 1771px 931px #FFF , 1246px 297px #FFF , 22px 1007px #FFF , 688px 202px #FFF , 564px 1630px #FFF , 287px 906px #FFF , 38px 445px #FFF , 1675px 493px #FFF , 1104px 416px #FFF , 1230px 1373px #FFF , 1977px 1667px #FFF , 1205px 781px #FFF , 1993px 208px #FFF , 1127px 50px #FFF , 150px 688px #FFF , 40px 1590px #FFF , 755px 1780px #FFF , 740px 1893px #FFF , 857px 665px #FFF , 1239px 516px #FFF , 1186px 1049px #FFF , 158px 1194px #FFF , 783px 1202px #FFF , 1515px 1374px #FFF , 1140px 232px #FFF , 234px 1868px #FFF , 1232px 236px #FFF , 981px 707px #FFF , 1531px 575px #FFF , 1314px 1290px #FFF , 1058px 1137px #FFF , 344px 281px #FFF , 1679px 1852px #FFF , 1879px 570px #FFF , 1101px 1879px #FFF , 453px 1820px #FFF , 448px 445px #FFF , 405px 1514px #FFF , 204px 1573px #FFF , 1136px 796px #FFF , 1464px 298px #FFF , 843px 1799px #FFF , 857px 1265px #FFF , 279px 1733px #FFF , 1012px 504px #FFF , 337px 958px #FFF , 50px 1411px #FFF , 1px 1133px #FFF , 502px 1785px #FFF , 349px 691px #FFF , 1483px 784px #FFF , 663px 606px #FFF , 1227px 479px #FFF , 1205px 845px #FFF , 1225px 32px #FFF , 351px 1008px #FFF , 247px 956px #FFF , 1850px 813px #FFF , 1967px 1319px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  z-index: -5;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1155px 1707px #FFF , 1771px 1719px #FFF , 1710px 631px #FFF , 810px 1134px #FFF , 1386px 1275px #FFF , 1105px 199px #FFF , 1856px 973px #FFF , 1143px 1061px #FFF , 1195px 119px #FFF , 1460px 1568px #FFF , 52px 1969px #FFF , 1376px 200px #FFF , 1222px 149px #FFF , 1333px 1725px #FFF , 1651px 1661px #FFF , 926px 247px #FFF , 960px 1459px #FFF , 1667px 256px #FFF , 1023px 867px #FFF , 211px 1099px #FFF , 766px 561px #FFF , 873px 530px #FFF , 1157px 587px #FFF , 727px 1528px #FFF , 656px 468px #FFF , 359px 648px #FFF , 204px 983px #FFF , 875px 1088px #FFF , 1947px 698px #FFF , 757px 1498px #FFF , 1168px 361px #FFF , 367px 618px #FFF , 1967px 1826px #FFF , 658px 380px #FFF , 1104px 880px #FFF , 1191px 906px #FFF , 1086px 1142px #FFF , 1128px 1583px #FFF , 525px 268px #FFF , 1417px 673px #FFF , 1718px 1906px #FFF , 1771px 931px #FFF , 1246px 297px #FFF , 22px 1007px #FFF , 688px 202px #FFF , 564px 1630px #FFF , 287px 906px #FFF , 38px 445px #FFF , 1675px 493px #FFF , 1104px 416px #FFF , 1230px 1373px #FFF , 1977px 1667px #FFF , 1205px 781px #FFF , 1993px 208px #FFF , 1127px 50px #FFF , 150px 688px #FFF , 40px 1590px #FFF , 755px 1780px #FFF , 740px 1893px #FFF , 857px 665px #FFF , 1239px 516px #FFF , 1186px 1049px #FFF , 158px 1194px #FFF , 783px 1202px #FFF , 1515px 1374px #FFF , 1140px 232px #FFF , 234px 1868px #FFF , 1232px 236px #FFF , 981px 707px #FFF , 1531px 575px #FFF , 1314px 1290px #FFF , 1058px 1137px #FFF , 344px 281px #FFF , 1679px 1852px #FFF , 1879px 570px #FFF , 1101px 1879px #FFF , 453px 1820px #FFF , 448px 445px #FFF , 405px 1514px #FFF , 204px 1573px #FFF , 1136px 796px #FFF , 1464px 298px #FFF , 843px 1799px #FFF , 857px 1265px #FFF , 279px 1733px #FFF , 1012px 504px #FFF , 337px 958px #FFF , 50px 1411px #FFF , 1px 1133px #FFF , 502px 1785px #FFF , 349px 691px #FFF , 1483px 784px #FFF , 663px 606px #FFF , 1227px 479px #FFF , 1205px 845px #FFF , 1225px 32px #FFF , 351px 1008px #FFF , 247px 956px #FFF , 1850px 813px #FFF , 1967px 1319px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

